<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lyft web app for apprenticeship application</h1>

    <p> This web application accepts a POST request and returns a JSON object</p>
    
    <h4 class="bold">Terminal Command</h4>
    <pre>
      curl -d '{"string_to_cut": "your-string"}' -H "Content-Type: application/json" -X POST http://rosita-flask-app.glitch.me/test
    </pre>
    <br>
    <p>Thanks for visiting!</p>
  </body>
</html>
