<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lyft web app for apprenticeship application</h1>

    <p> This web app takes in a string and return every third letter from the original string </p>
    
    <h4>To run the app add the below curl command in your termnial of choice:</h4>
    <p>
      curl -d '{"string_to_cut": "your-string"}' -H "Content-Type: application/json" -X POST http://rosita-flask-app.glitch.me/test
    </p>

    <p>Thanks for visiting!</p>
  </body>
</html>
